<div class="row">
    <div class="col-md-6 col-xs-12 text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit libero hic laboriosam a animi, eveniet eius
        consectetur, eligendi perferendis, itaque voluptatem. Vel, voluptatem fugiat dolor eveniet, et minus a saepe
        laboriosam odio at recusandae accusamus officia ullam alias veritatis. Illum, ipsa repudiandae magni voluptatum
        voluptatibus vitae obcaecati temporibus at soluta expedita iusto. Itaque quia eum fuga ratione cum qui amet sed
        illo veritatis accusamus eaque, voluptatibus iste voluptates dicta quo nam! Minus, deleniti necessitatibus atque
        molestiae amet ut distinctio, eveniet aut repellendus eaque ratione labore odit sint, similique nihil sed
        mollitia reprehenderit maiores totam suscipit excepturi debitis unde. Illo?
    </div>
    <div class="col-md-6 col-xs-12 ">
        <agm-map #AgmMap [latitude]="asset?.lat" [zoom]=17 [longitude]="asset?.long">
            <agm-marker [latitude]="asset?.lat" [longitude]="asset?.long">
                <!-- <agm-info-window [isOpen]="address.street" [latitude]="address.lat" [longitude]="address.lng">
                    <strong>{{address.street}}</strong><br>
                    <small>{{address.city}}, {{address.state}},{{address.zipcode}}</small>
                </agm-info-window> -->
            </agm-marker>
        </agm-map>
    </div>
</div>