<button type="button" class="btn btn-primary btn-sm" (click)="open($event)">Open Child Window</button>&nbsp;
<button type="button" class="btn btn-warning btn-sm" (click)="onBlur()">Window Blur</button>&nbsp;
<button type="button" class="btn btn-success btn-sm" (click)="onFocus()">Window Focus</button>&nbsp;
<button type="button" class="btn btn-danger btn-sm" (click)="close()">Close Window</button>&nbsp;
<button type="button" class="btn btn-info btn-sm" (click)="resize()">Resize Window</button>&nbsp;
<button type="button" class="btn btn-secondary btn-sm" (click)="minimize()">Minimize Window</button>&nbsp;