<nav class="navbar navbar-expand-md navbar-dark bd-navbar sticky-top">
    <a class="navbar-brand" role="button">Asset Tokenization</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLink]="['/listings']">
                <a class="nav-link" role="button">Listings</a>
            </li>
            <li class="nav-item" *ngIf="!metaMask.getAccountDetails().isConnected else showAccountDetails">
                <a class="nav-link" role="button" (click)="metaMask.connectAccount()">Connect To Metamask</a>
            </li>
            <ng-template #showAccountDetails>
                <span class="navbar-text">Account Address: {{metaMask.getAccountDetails().connected_account}}</span>
            </ng-template>
            <ng-container *ngIf="auth.getCurrentUser()?.user?.role == 'SA'">
                <li class="nav-item" routerLinkActive="active" [routerLink]="['/user']">
                    <a class="nav-link" role="button">Users</a>
                </li>
            </ng-container>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
                    {{auth.getCurrentUser()?.user?.firstName | titlecase}}  {{auth.getCurrentUser()?.user?.lastName | titlecase}}
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" [routerLink]="['/portfolio']">Portfolio</a>
                    <ng-container *ngIf="auth.getCurrentUser()?.user?.role == 'Owner'">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" [routerLink]="['/my-assets']">My Assets</a>
                    </ng-container>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault();auth.logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>